<a href="https://colab.research.google.com/github/alina-bogdanovskaya/Probability_Statistics_Dec-2021/blob/lesson3/Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
%matplotlib inline
import random
import math
from math import factorial as fact
import numpy as np

Даны значения зарплат из выборки выпускников: 100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150. Посчитать (желательно без использования статистических методов наподобие std, var, mean) среднее арифметическое, среднее квадратичное отклонение, смещенную и несмещенную оценки дисперсий для данной выборки.

In [20]:
salary = np.array([100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150])
n = salary.shape[0]
salary.sort
mean_sal = np.sum(salary)/n
mean_sal

65.3

4.263256414560601e-14

In [26]:
k = 0
for i in salary:
  k += (i - mean_sal)**2

variance_biased = k/n  
variance = k/(n-1)
print(variance_biased, variance)

950.11 1000.1157894736842

In [29]:
std_dev = math.sqrt(variance)
std_dev

31.624607341019814

In [23]:
np.mean(salary)

65.3

In [24]:
np.var(salary)

950.11

In [25]:
np.var(salary, ddof = 1)

1000.1157894736842

In [30]:
np.std(salary, ddof = 1)

31.624607341019814

В первом ящике находится 8 мячей, из которых 5 - белые. Во втором ящике - 12 мячей, из которых 5 белых. Из первого ящика вытаскивают случайным образом два мяча, из второго - 4. Какова вероятность того, что 3 мяча белые?

In [9]:
def comb(n, k):
    return int(fact(n) / (fact(k) * fact(n - k)))

In [10]:
p1 = (comb(5, 2)/comb(8, 2)) * (comb(5, 1)*comb(7, 3)/comb(12, 4))
p2 = (comb(5, 1)*comb(3, 1)/comb(8, 2)) * (comb(5, 2)*comb(7, 2)/comb(12, 4))
p3 = (comb(3, 2)/comb(8, 2)) * (comb(5, 3)*comb(7, 1)/comb(12, 4))
p = p1 + p2 + p3
p

0.3686868686868687

In [7]:
n = 1000000
k = 0

for i in range(n):
  balls1 = list(range(1, 9))
  random.shuffle(balls1)
  white = 0
  for item in range(2):
    a = balls1.pop()
    if a < 6:
      white += 1
      
  balls2 = list(range(1, 13))
  random.shuffle(balls2)
  for item in range(4):
    a = balls2.pop()
    if a < 6:
      white += 1
    
  if white == 3:
    k += 1

print(f'Probability: {k/n}')

Probability: 0.368917

На соревновании по биатлону один из трех спортсменов стреляет и попадает в мишень. Вероятность попадания для первого спортсмена равна 0.9, для второго — 0.8, для третьего — 0.6. Найти вероятность того, что выстрел произведен: a). первым спортсменом б). вторым спортсменом в). третьим спортсменом.

In [40]:
a = 1/3 * 0.9 + 1/3 * 0.8 + 1/3 * 0.6
b1 = (1/3 * 0.9)/a
b2 = (1/3 * 0.8)/a
b3 = (1/3 * 0.6)/a
print(a)
print(b1)
print(b2)
print(b3)

0.7666666666666666
0.391304347826087
0.3478260869565218
0.2608695652173913

In [44]:
n = 10000000

prob = [0.9, 0.8, 0.6]
hits = [0, 0, 0]

for i in range(n):
  j = random.randrange(0, 3)
  hit = random.random() < prob[j]
  if hit == True: 
    hits[j] += 1

a = np.sum(hits)

for j in hits:
   print(j/a)

0.39150841943983267
0.34779356456712496
0.2606980159930424

В университет на факультеты A и B поступило равное количество студентов, а на факультет C студентов поступило столько же, сколько на A и B вместе. Вероятность того, что студент факультета A сдаст первую сессию, равна 0.8. Для студента факультета B эта вероятность равна 0.7, а для студента факультета C - 0.9. Студент сдал первую сессию. Какова вероятность, что он учится: a). на факультете A б). на факультете B в). на факультете C?

In [5]:
a = 1/4 * 0.8 + 1/4 * 0.7 + 1/2 * 0.9
s1 = (1/4 * 0.8)/a
s2 = (1/4 * 0.7)/a
s3 = (1/2 * 0.9)/a
print(a)
print(s1)
print(s2)
print(s3)

0.825
0.24242424242424246
0.21212121212121213
0.5454545454545455

In [45]:
n = 10000000

prob = [0.8, 0.7, 0.9]
passed = [0, 0, 0]

for i in range(n):
  j = random.randrange(0, 4)
  if j == 3: 
    j = 2 
  success = random.random() < prob[j]
  if success == True: 
    passed[j] += 1

a = np.sum(passed)

for j in passed:
   print(j/a)

0.24241897039603696
0.21221172568141974
0.5453693039225432

Устройство состоит из трех деталей. Для первой детали вероятность выйти из строя в первый месяц равна 0.1, для второй - 0.2, для третьей - 0.25. Какова вероятность того, что в первый месяц выйдут из строя: а). все детали б). только две детали в). хотя бы одна деталь г). от одной до двух деталей?

In [32]:
p_all = 0.1 * 0.2 * 0.25
p_all

0.005000000000000001

In [47]:
n = 10000000
k = 0

for i in range(n):
  b1 = random.randrange(0, 100) < 10
  b2 = random.randrange(0, 100) < 20
  b3 = random.randrange(0, 100) < 25
  if b1 + b2 + b3 == 3:
    k += 1

print(f'Probability: {k/n}')

Probability: 0.0050168

In [20]:
p1 = 0.1
p2 = 0.2
p3 = 0.25
q1 = 1 - p1
q2 = 1 - p2
q3 = 1 - p3

0.08000000000000002

In [ ]:
p1*p2*q3 + p1*q2*p3 + q1*p2*p3

In [21]:
n = 10000000
k = 0

for i in range(n):
  b1 = random.randrange(0, 100) < 10
  b2 = random.randrange(0, 100) < 20
  b3 = random.randrange(0, 100) < 25
  if b1 + b2 + b3 == 2:
    k += 1

print(f'Probability: {k/n}')

Probability: 0.0800575

In [25]:
1 - (q1*q2*q3)

0.45999999999999996

In [24]:
n = 1000000
k = 0

for i in range(n):
  b1 = random.randrange(0, 100) < 10
  b2 = random.randrange(0, 100) < 20
  b3 = random.randrange(0, 100) < 25
  if b1 + b2 + b3 >= 1:
    k += 1

print(f'Probability: {k/n}')

Probability: 0.460186

In [27]:
p1*p2*q3 + p1*q2*p3 + q1*p2*p3 + p1*q2*q3 + q1*p2*q3 + q1*q2*p3

0.45500000000000007

In [26]:
n = 1000000
k = 0

for i in range(n):
  b1 = random.randrange(0, 100) < 10
  b2 = random.randrange(0, 100) < 20
  b3 = random.randrange(0, 100) < 25
  if b1 + b2 + b3 == 1 or b1 + b2 + b3 == 2:
    k += 1

print(f'Probability: {k/n}')

Probability: 0.455311